{% extends 'base.html' %}
{% block body %}

<!-- details -->
<section class="section details">
	<!-- details background -->
	<div class="details__bg" data-bg="/static/assets/img/home/home__bg.jpg"></div>
	<!-- end details background -->

	<!-- details content -->
	<div class="container">
		<div class="row">
			<!-- title -->
			<div class="col-12">
				<h1 class="details__title"></h1>
			</div>
			<!-- end title -->

			<!-- content -->
			
			<div class="col-12 col-xl-11">
				<div class="card card--details card--series">
					<!-- card cover -->
					<div class="card__cover">
						<img src="{{serie.poster.url}}" alt="">
					</div>
					<!-- end card cover -->

					<!-- card content -->
					<div class="card__content">
						<div class="card__wrap">
							<span class="card__rate"> 8.4</span>

							<ul class="card__list">
								<li>HD</li>
								<li>{{serie.age_limit}}+</li>
							</ul>
						</div>

						<ul class="card__meta">
							<li><span>Genre:</span>
								{% for genre in  serie.genres.all %} 
									<a href="#">{{genre.name}}</a>
								{% endfor %}
							<li><span>Release year:</span> {{serie.release_date}}</li>
							<li><span>Running time:</span>{{serie_set.episode.first.duration}}</li>
							<li><span>Country:</span> <a href="#">{{serie.country}}</a> </li>
							
						</ul>
						
						<div class="card__description card__description--details">
							{{serie.description|safe}}
						</div>


					</div>
					<!-- end card content -->
				</div>
			</div>
			
			<!-- end content -->

			<!-- player -->
			<div class="col-12 col-lg-6">
				
				<video controls crossorigin playsinline poster="{{serie.poster.url}}" id="player">
					<!-- Video files -->
					<source src="{{episodes.first.episodegallery_set.first.video.url}}" type="video/mp4" size="576">
					

					<!-- Caption files -->
					<track kind="captions" label="English" srclang="en" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.en.vtt"
					    default>
					<track kind="captions" label="Français" srclang="fr" src="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-HD.fr.vtt">

					<!-- Fallback for browsers that don't support the <video> element -->
					<a href="https://cdn.plyr.io/static/demo/View_From_A_Blue_Moon_Trailer-576p.mp4" download>Download</a>
				</video>
			</div>
			<!-- end player -->

			<!-- accordion -->
			
			<div class="col-12 col-lg-6">
				<div class="accordion" id="accordion">
					{% for season in seasons %}
					<div class="accordion__card">
						<div class="card-header" id="heading{{ season.id }}">
							<button type="button" data-toggle="collapse" data-target="#collapse{{ season.id }}" aria-expanded="true" aria-controls="collapse{{ season.id }}">
								<span>Sezon: {{ season.number }}</span>
								<span>{{ season.count_episodes }} Bölüm </span>
							</button>
						</div>
						<div id="collapse{{ season.id }}" class="collapse {% if forloop.first %}show{% endif %}" aria-labelledby="heading{{ season.id }}" data-parent="#accordion">
							<div class="card-body">
								<table class="accordion__list">
									<thead>
										<tr>
											<th>#</th>
											<th>Başlıq</th>
											<th>Yayın Tarixi</th>
										</tr>
									</thead>
									<tbody>
										{% for episode in season.episode_set.all %}
										<tr>
											<td>{{ episode.episode_number }}</td>
											<td><a href="{% url 'series:series-episode' %}?episode={{ episode.title }}">{{ episode.title }}</a></td>
											<td>{{ episode.release_date|date:"F d, Y" }}</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			




			
			<!-- <div class="col-12 col-lg-6">
				
				<div class="accordion" id="accordion">
					
					<div class="accordion__card">
						
						<div class="card-header" id="headingOne">
							<button type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<span>Season: 1</span>
								<span>22 Episodes from Nov, 2020 until May, 2021</span>
							</button>
						</div>
						
						
						
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
							
							<div class="card-body">
								<table class="accordion__list">
									<thead>
										<tr>
											<th>#</th>
											<th>Title</th>
											<th>Air Date</th>
										</tr>
									</thead> 	
									{% for episode in episodes %}
									<tbody>
										<tr>
											<th>{{episode.episode_number}}</th>
											<td><a href="{% url 'series:series-episode' %}?episode={{episode.title}}">{{episode.title}}</a></td>
											<td>{{episode.release_date}}</td>
										</tr>
										
									</tbody>
									{% endfor %}
								</table>
							</div>
						</div>
						
					</div>
					
					
					

					
				</div>
				
			</div> -->
			
			<!-- end accordion -->
		</div>
	</div>
	<!-- end details content -->
</section>
<!-- end details -->

<!-- content -->
<section class="content">
	<div class="content__head">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- content title -->
					<h2 class="content__title">Discover</h2>
					<!-- end content title -->

					<!-- content tabs nav -->
					<ul class="nav nav-tabs content__tabs" id="content__tabs" role="tablist">
						<li class="nav-item" role="presentation">
							<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Comments</a>
						</li>

						

						<li class="nav-item" role="presentation">
							<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Photos</a>
						</li>
					</ul>
					<!-- end content tabs nav -->

					<!-- content mobile tabs nav -->
					<div class="content__mobile-tabs" id="content__mobile-tabs">
						<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							<input type="button" value="Comments">
							<span></span>
						</div>

						<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
							<ul class="nav nav-tabs" role="tablist">
								<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab" href="#tab-1" role="tab" aria-controls="tab-1" aria-selected="true">Comments</a></li>

								

								<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3" aria-selected="false">Photos</a></li>
							</ul>
						</div>
					</div>
					<!-- end content mobile tabs nav -->
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-12 col-lg-8 col-xl-8">
				<!-- content tabs -->
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
						<div class="row">
							<!-- comments -->
							<div class="col-12">
								<div class="comments">
									
									{% for comment in comments %}
									
									<ul class="comments__list">
										<li class="comments__item">
											<div class="comments__autor">
												
												<img class="comments__avatar" src="{{comment.user.logo.url}}" alt="">
												
												<span class="comments__name">{{ comment.user.username }}</span>
												<span class="comments__time">{{comment.created_at}}</span>
											</div>
											<p class="comments__text">{{ comment.comment }}</p>
											<div class="comments__actions">
												<!-- <div class="comments__rate">
													<button type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.3,10.08A3,3,0,0,0,19,9H14.44L15,7.57A4.13,4.13,0,0,0,11.11,2a1,1,0,0,0-.91.59L7.35,9H5a3,3,0,0,0-3,3v7a3,3,0,0,0,3,3H17.73a3,3,0,0,0,2.95-2.46l1.27-7A3,3,0,0,0,21.3,10.08ZM7,20H5a1,1,0,0,1-1-1V12a1,1,0,0,1,1-1H7Zm13-7.82-1.27,7a1,1,0,0,1-1,.82H9V10.21l2.72-6.12A2.11,2.11,0,0,1,13.1,6.87L12.57,8.3A2,2,0,0,0,14.44,11H19a1,1,0,0,1,.77.36A1,1,0,0,1,20,12.18Z"/></svg>12</button>

													<button type="button">7<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M19,2H6.27A3,3,0,0,0,3.32,4.46l-1.27,7A3,3,0,0,0,5,15H9.56L9,16.43A4.13,4.13,0,0,0,12.89,22a1,1,0,0,0,.91-.59L16.65,15H19a3,3,0,0,0,3-3V5A3,3,0,0,0,19,2ZM15,13.79l-2.72,6.12a2.13,2.13,0,0,1-1.38-2.78l.53-1.43A2,2,0,0,0,9.56,13H5a1,1,0,0,1-.77-.36A1,1,0,0,1,4,11.82l1.27-7a1,1,0,0,1,1-.82H15ZM20,12a1,1,0,0,1-1,1H17V4h2a1,1,0,0,1,1,1Z"/></svg></button>
												</div> -->

												<!-- <button type="button"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M21.707,11.293l-8-8A.99991.99991,0,0,0,12,4V7.54492A11.01525,11.01525,0,0,0,2,18.5V20a1,1,0,0,0,1.78418.62061,11.45625,11.45625,0,0,1,7.88672-4.04932c.0498-.00635.1748-.01611.3291-.02588V20a.99991.99991,0,0,0,1.707.707l8-8A.99962.99962,0,0,0,21.707,11.293ZM14,17.58594V15.5a.99974.99974,0,0,0-1-1c-.25488,0-1.2959.04932-1.56152.085A14.00507,14.00507,0,0,0,4.05176,17.5332,9.01266,9.01266,0,0,1,13,9.5a.99974.99974,0,0,0,1-1V6.41406L19.58594,12Z"/></svg>Reply</button> -->
												
												{% if comment.user == request.user %}
												
												<button onclick="deleteComment({{ comment.id }})"><svg xmlns= "http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c	-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg> Sil</button>
												
												
												{% endif %}
											</div>
										</li>

										
									</ul>
									{% endfor %}
									

									<form method="POST" class="form">
										{% csrf_token %}
										{{form.comment}}
										{% if user.is_authenticated %}
										<button type="submit" class="form__btn">Send</button>
										{% else %}
										
										<a class="form__btn" href="{% url 'users:login' %}">Send</a>
										{% endif %}
									</form>
								</div>
							</div>
							<!-- end comments -->
						</div>
					</div>

					

					<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
						<!-- project gallery -->
						<div class="gallery" itemscope>
							<div class="row row--grid">
								<!-- gallery item -->
								{% for gallery in serie.seriegallery_set.all %}
								<figure class="col-12 col-sm-6 col-xl-4" itemprop="associatedMedia" itemscope>
									<a href="{{gallery.image.url}}" itemprop="contentUrl" data-size="1920x1280">
										<img src="{{gallery.image.url}}" itemprop="thumbnail" alt="Image description" />
									</a>
									<figcaption itemprop="caption description"></figcaption>
								</figure>
								{% endfor %}
								<!-- end gallery item -->

								
							</div>
						</div>
						<!-- end project gallery -->
					</div>
				</div>
				<!-- end content tabs -->
			</div>

			<!-- sidebar -->
			<div class="col-12 col-lg-4 col-xl-4">
				<div class="row row--grid">
					<!-- section title -->
					<div class="col-12">
						<!-- <h2 class="section__title section__title--sidebar">You may also like...</h2> -->
					</div>
					<!-- end section title -->

					{% for serie in trends %}
					<div class="col-6 col-sm-4 col-lg-6">
						<div class="card">
							<a href="{% url 'movies:movies-detail' movie.slug %}" class="card__cover">
								<img src="{{movie.poster.url}}" alt="" width="210" height="250">
								<span class="card__play">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M18.54,9,8.88,3.46a3.42,3.42,0,0,0-5.13,3V17.58A3.42,3.42,0,0,0,7.17,21a3.43,3.43,0,0,0,1.71-.46L18.54,15a3.42,3.42,0,0,0,0-5.92Zm-1,4.19L7.88,18.81a1.44,1.44,0,0,1-1.42,0,1.42,1.42,0,0,1-.71-1.23V6.42a1.42,1.42,0,0,1,.71-1.23A1.51,1.51,0,0,1,7.17,5a1.54,1.54,0,0,1,.71.19l9.66,5.58a1.42,1.42,0,0,1,0,2.46Z"/></svg>
								</span>
							</a>
							<div class="card__content">
								<h3 class="card__title"><a href="#">{{movie.title}}</a></h3>
								<span class="card__category">
									{% for genre in  movie.genres.all %}
									<a href="#">{{genre.name}}</a>
									{% endfor %}
								</span>
								<span class="card__rate">{{movie.imdb}}</span>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<!-- end sidebar -->
		</div>
	</div>
</section>
<!-- end content -->



<!-- Root element of PhotoSwipe. Must have class pswp. -->
<div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

	<!-- Background of PhotoSwipe. 
	It's a separate element, as animating opacity is faster than rgba(). -->
	<div class="pswp__bg"></div>

	<!-- Slides wrapper with overflow:hidden. -->
	<div class="pswp__scroll-wrap">

		<!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
		<!-- don't modify these 3 pswp__item elements, data is added later on. -->
		<div class="pswp__container">
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
			<div class="pswp__item"></div>
		</div>

		<!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
		<div class="pswp__ui pswp__ui--hidden">

			<div class="pswp__top-bar">

				<!--  Controls are self-explanatory. Order can be changed. -->

				<div class="pswp__counter"></div>

				<button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

				<button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

				<!-- Preloader -->
				<div class="pswp__preloader">
					<div class="pswp__preloader__icn">
						<div class="pswp__preloader__cut">
							<div class="pswp__preloader__donut"></div>
						</div>
					</div>
				</div>
			</div>

			<button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button>

			<button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>

			<div class="pswp__caption">
				<div class="pswp__caption__center"></div>
			</div>
		</div>
	</div>
</div>

{% endblock  %}

{% block js %}
<script>
	function deleteComment(commentId) {
		var csrftoken = getCookie('csrftoken');  // CSRF token'ı cookie'den alınır
		$.ajax({
			type: "POST",
			url: "/delete-comments/",
			data: {
				comment_id: commentId,
				csrfmiddlewaretoken: csrftoken  // CSRF token POST verilerine eklenir
			},
			success: function() {
				window.location.reload();  // sayfa yenilenir
			}
		});
	}

	function getCookie(name) {
		var cookieValue = null;
		if (document.cookie && document.cookie !== '') {
			var cookies = document.cookie.split(';');
			for (var i = 0; i < cookies.length; i++) {
				var cookie = cookies[i].trim();
				// cookie adı ile başlıyor mu kontrol edilir
				if (cookie.substring(0, name.length + 1) === (name + '=')) {
					cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
					break;
				}
			}
		}
		return cookieValue;
	}



	

</script>

{% endblock %}