{% extends 'base.html' %}
{% block body %}
<!-- page title -->
<section class="section section--first section--bg" data-bg="img/section/section.jpg">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section__wrap">
					<!-- section title -->
					<h1 class="section__title">FAQ</h1>
					<!-- end section title -->

					<!-- breadcrumb -->
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="index.html">Ana Səhifə</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">FAQ</li>
					</ul>
					<!-- end breadcrumb -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- faq -->
<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-6">
				<div class="faq">
					<h3 class="faq__title">Video niyə yüklənmir?</h3>
					<p class="faq__text">İnternetdəki bütün Lorem Ipsum generatorları lazım olduqda əvvəlcədən təyin edilmiş parçaları təkrarlamağa meyllidir və bu, İnternetdəki ilk həqiqi generatordur.</p>
					<p class="faq__text">Müxtəlif versiyalar illər ərzində bəzən təsadüfən, bəzən də məqsədyönlü şəkildə (injekte edilmiş yumor və s.) inkişaf etmişdir.</p>
				</div>

				<div class="faq">
					<h3 class="faq__title">Niyə bu videonun HD versiyası yoxdur?</h3>
					<p class="faq__text">Bir çox masa üstü nəşriyyat paketləri və veb səhifə redaktorları indi standart model mətni kimi Lorem Ipsum-dan istifadə edir və 'lorem ipsum' axtarışı hələ də körpəlikdə olan bir çox veb saytları aşkar edəcək.</p>
				</div>

				<div class="faq">
					<h3 class="faq__title">Səs niyə pozulur?</h3>
					<p class="faq__text">Müxtəlif versiyalar illər ərzində bəzən təsadüfən, bəzən də məqsədyönlü şəkildə (injekte edilmiş yumor və s.) inkişaf etmişdir.</p>
				</div>

				<div class="faq">
					<h3 class="faq__title">Video niyə kəkələyir, buferlənir və ya təsadüfi olaraq dayanır?</h3>
					<p class="faq__text">Lorem Ipsum-un keçidlərinin bir çox variantı mövcuddur, lakin onların əksəriyyəti inyeksiya edilmiş yumor və ya bir qədər inandırıcı görünməyən təsadüfi sözlər vasitəsilə müəyyən formada dəyişikliyə məruz qalmışdır.</p>
				</div>

				<div class="faq">
					<h3 class="faq__title">Videonun keyfiyyətini dəyişəndə heç nə olmur..</h3>
					<p class="faq__text">Əgər siz Lorem Ipsum-un keçidindən istifadə edəcəksinizsə, mətnin ortasında utanc verici bir şeyin gizləndiyinə əmin olmalısınız.</p>
				</div>
			</div>

			<div class="col-12 col-md-6">
				<div class="faq">
					<h3 class="faq__title">Niyə video əvvəldən başlamır?</h3>
					<p class="faq__text">Lorem Ipsum-dan istifadə etməyin mənası ondan ibarətdir ki, o, 'Məzmun burada, məzmun burada' istifadə etməkdən fərqli olaraq, hərflərin az-çox normal paylanmasına malikdir və onu oxunaqlı ingilis dili kimi göstərir.</p>
				</div>

				<div class="faq">
					<h3 class="faq__title">Videonu tam ekrana necə çevirmək olar?</h3>
					<p class="faq__text">O, ağlabatan görünən Lorem Ipsum yaratmaq üçün 200-dən çox latın sözündən ibarət lüğətdən istifadə edir və bir neçə model cümlə strukturları ilə birləşir. Yaradılmış Lorem Ipsum buna görə də həmişə təkrardan, yeridilmiş yumordan və ya xarakterik olmayan sözlərdən və s. azaddır.</p>
				</div>

				<div class="faq">
					<h3 class="faq__title">Hansı brauzerlər dəstəklənir?</h3>
					<p class="faq__text">O, 1960-cı illərdə Lorem Ipsum keçidlərini ehtiva edən Letraset vərəqlərinin buraxılması ilə və daha yaxınlarda Lorem Ipsum versiyaları daxil olmaqla Aldus PageMaker kimi masaüstü nəşriyyat proqramı ilə populyarlaşdı.</p>
				</div>

				<div class="faq">
					<h3 class="faq__title">Məxfiliyimi necə idarə edirsiniz?</h3>
					<p class="faq__text">Müxtəlif versiyalar illər ərzində bəzən təsadüfən, bəzən də məqsədyönlü şəkildə (injekte edilmiş yumor və s.) inkişaf etmişdir.</p>
				</div>

				<div class="faq">
					<h3 class="faq__title">Sizinlə necə əlaqə saxlaya bilərəm?</h3>
					<p class="faq__text">Lorem Ipsum-dan istifadə etməyin mənası ondan ibarətdir ki, o, 'Məzmun burada, məzmun burada' istifadə etməkdən fərqli olaraq, hərflərin az-çox normal paylanmasına malikdir və onu oxunaqlı ingilis dili kimi göstərir.</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end faq -->
{% endblock %}
