{% extends 'base.html' %}
{% block body %}

<!-- page title -->
<section class="section section--first section--bg" data-bg="/static/assets/img/section/section.jpg">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section__wrap">
					<!-- section title -->
					<h1 class="section__title">Məxfilik Siyasəti</h1>
					<!-- end section title -->

					<!-- breadcrumb -->
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="index.html">Ana Səhifə</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Məxfilik Siyasəti</li>
					</ul>
					<!-- end breadcrumb -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- privacy -->
<section class="section">
	<div class="container">
		<div class="row">
			<!-- section text -->
			<div class="col-12">
				<p class="section__text">Gizlilik Siyasəti</p>

				<p class="section__text">Bu gizlilik siyasəti, Əli tərəfindən idarə olunan  veb saytındakı ziyarətçilərin məxfiliyi ilə bağlıdır.</p>

				<p class="section__text"> <b>Bizim siyahımızdakı məlumatlar</b> </p>

				<p class="section__text">Biz, ziyarətçilərin məlumatlarını toplamaq üçün müxtəlif vasitələr istifadə edirik, məsələn, saytımızı istifadə etdikdə bizə verilən məlumatlar. Bu məlumatlar ad, elektron poçt ünvanı, telefon nömrəsi, IP ünvanı və ya yer məlumatları ola bilər.</p>
				<p class="section__text"> <b>Məlumatları necə istifadə edirik?</b></p>
				<p class="section__text"> Biz, ziyarətçilərin məlumatlarını, onların saytımızda istifadələri və təcrübələri ilə əlaqədar işləyərək, saytımızı təkmilləşdirmək üçün istifadə edirik. Ayrıca, bu məlumatları onların tənzimləmələri və ya sorğularını cavablandırmaq üçün də istifadə edə bilərik.</p>
				<p class="section__text"> <b>Məlumatların paylaşılması</b> </p>
				<p class="section__text"> Ziyarətçilərin məlumatlarını heç bir şəraitdə üçüncü tərəflərlə bölüşmürük. Lakin, qanunvericiliyə uyğun olaraq məlumatları müvafiq qurumlara təqdim edə bilərik. </p>
				<p class="section__text"> <b>Cookies</b> </p>
				<p class="section__text"> Bizim saytımız, istifadəçilərin təcrübəsini yaxşılaşdırmaq üçün cookies istifadə edir. Bu cookies məlumatların istifadəçilər tərəfindən daxil edilən tercihlərini xatırlayır və onları saytımızda daha rahat hiss etmələrini təmin edir. </p>
				<p class="section__text"> <b>Linklər</b> </p>
				<p class="section__text"> Bizim saytımız başqa saytlara linklər təqdim edə bilər. Biz, başqa saytların məxfiliyi ilə bağlı məsuliyyət daşımayırıq və ziyarətçilərin başqa saytlarda yer alan məlumatların istifadəsi üçün öz məsuliyyətləri daşıyırlar. </p>
			
			
			</div>
			<!-- end section text -->
		</div>
	</div>
</section>
<!-- end privacy -->

{% endblock %}